<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>[微笑]</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>[撇嘴]</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>[色]</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>[发呆]</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>[得意]</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>[流泪]</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>[害羞]</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>[闭嘴]</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>[睡]</key>
		<string>[睡]</string>
	</dict>
	<dict>
		<key>[哭泣]</key>
		<string>[哭泣]</string>
	</dict>
	<dict>
		<key>[难堪]</key>
		<string>[难堪]</string>
	</dict>
	<dict>
		<key>[发怒]</key>
		<string>[发怒]</string>
	</dict>
	<dict>
		<key>[调皮]</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>[呲牙]</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>[惊讶]</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>[难过]</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>[酷]</key>
		<string>[酷]</string>
	</dict>
	<dict>
		<key>[冷汗]</key>
		<string>[冷汗]</string>
	</dict>
	<dict>
		<key>[抓狂]</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>[吐]</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>[偷笑]</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>[愉快]</key>
		<string>[愉快]</string>
	</dict>
	<dict>
		<key>[白眼]</key>
		<string>[白眼]</string>
	</dict>
	<dict>
		<key>[傲慢]</key>
		<string>[傲慢]</string>
	</dict>
	<dict>
		<key>[饥饿]</key>
		<string>[饥饿]</string>
	</dict>
	<dict>
		<key>[困]</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>[惊恐]</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>[流汗]</key>
		<string>[流汗]</string>
	</dict>
	<dict>
		<key>[憨笑]</key>
		<string>[憨笑]</string>
	</dict>
	<dict>
		<key>[安闲]</key>
		<string>[安闲]</string>
	</dict>
	<dict>
		<key>[奋斗]</key>
		<string>[奋斗]</string>
	</dict>
	<dict>
		<key>[咒骂]</key>
		<string>[咒骂]</string>
	</dict>
	<dict>
		<key>[疑问]</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>[嘘]</key>
		<string>[嘘]</string>
	</dict>
	<dict>
		<key>[晕]</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>[疯了]</key>
		<string>[疯了]</string>
	</dict>
	<dict>
		<key>[衰]</key>
		<string>[衰]</string>
	</dict>
	<dict>
		<key>[骷髅]</key>
		<string>[骷髅]</string>
	</dict>
	<dict>
		<key>[敲打]</key>
		<string>[敲打]</string>
	</dict>
	<dict>
		<key>[再见]</key>
		<string>[再见]</string>
	</dict>
	<dict>
		<key>[擦汗]</key>
		<string>[擦汗]</string>
	</dict>
	<dict>
		<key>[抠鼻]</key>
		<string>[抠鼻]</string>
	</dict>
	<dict>
		<key>[鼓掌]</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>[糗大了]</key>
		<string>[糗大了]</string>
	</dict>
	<dict>
		<key>[坏笑]</key>
		<string>[坏笑]</string>
	</dict>
	<dict>
		<key>[左哼哼]</key>
		<string>[左哼哼]</string>
	</dict>
	<dict>
		<key>[右哼哼]</key>
		<string>[右哼哼]</string>
	</dict>
	<dict>
		<key>[哈欠]</key>
		<string>[哈欠]</string>
	</dict>
	<dict>
		<key>[鄙视]</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>[委屈]</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>[快哭了]</key>
		<string>[快哭了]</string>
	</dict>
	<dict>
		<key>[阴险]</key>
		<string>[阴险]</string>
	</dict>
	<dict>
		<key>[亲]</key>
		<string>[亲]</string>
	</dict>
	<dict>
		<key>[吓]</key>
		<string>[吓]</string>
	</dict>
	<dict>
		<key>[可怜]</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>[菜刀]</key>
		<string>[菜刀]</string>
	</dict>
	<dict>
		<key>[西瓜]</key>
		<string>[西瓜]</string>
	</dict>
	<dict>
		<key>[啤酒]</key>
		<string>[啤酒]</string>
	</dict>
	<dict>
		<key>[篮球]</key>
		<string>[篮球]</string>
	</dict>
	<dict>
		<key>[乒乓]</key>
		<string>[乒乓]</string>
	</dict>
	<dict>
		<key>[咖啡]</key>
		<string>[咖啡]</string>
	</dict>
	<dict>
		<key>[饭]</key>
		<string>[饭]</string>
	</dict>
	<dict>
		<key>[猪头]</key>
		<string>[猪头]</string>
	</dict>
	<dict>
		<key>[玫瑰]</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>[凋谢]</key>
		<string>[凋谢]</string>
	</dict>
	<dict>
		<key>[嘴唇]</key>
		<string>[嘴唇]</string>
	</dict>
	<dict>
		<key>[爱心]</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>[心碎]</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>[蛋糕]</key>
		<string>[蛋糕]</string>
	</dict>
	<dict>
		<key>[闪电]</key>
		<string>[闪电]</string>
	</dict>
	<dict>
		<key>[炸弹]</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>[刀]</key>
		<string>[刀]</string>
	</dict>
	<dict>
		<key>[足球]</key>
		<string>[足球]</string>
	</dict>
	<dict>
		<key>[瓢虫]</key>
		<string>[瓢虫]</string>
	</dict>
	<dict>
		<key>[便便]</key>
		<string>[便便]</string>
	</dict>
	<dict>
		<key>[月亮]</key>
		<string>[月亮]</string>
	</dict>
	<dict>
		<key>[太阳]</key>
		<string>[太阳]</string>
	</dict>
	<dict>
		<key>[礼物]</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>[拥抱]</key>
		<string>[拥抱]</string>
	</dict>
	<dict>
		<key>[强]</key>
		<string>[强]</string>
	</dict>
	<dict>
		<key>[弱]</key>
		<string>[弱]</string>
	</dict>
	<dict>
		<key>[握手]</key>
		<string>[握手]</string>
	</dict>
	<dict>
		<key>[胜利]</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>[抱拳]</key>
		<string>[抱拳]</string>
	</dict>
	<dict>
		<key>[勾引]</key>
		<string>[勾引]</string>
	</dict>
	<dict>
		<key>[拳头]</key>
		<string>[拳头]</string>
	</dict>
	<dict>
		<key>[差劲]</key>
		<string>[差劲]</string>
	</dict>
	<dict>
		<key>[爱你]</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>[NO]</key>
		<string>[NO]</string>
	</dict>
	<dict>
		<key>[OK]</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>[爱情]</key>
		<string>[爱情]</string>
	</dict>
	<dict>
		<key>[吻]</key>
		<string>[吻]</string>
	</dict>
	<dict>
		<key>[跳跳]</key>
		<string>[跳跳]</string>
	</dict>
	<dict>
		<key>[发抖]</key>
		<string>[发抖]</string>
	</dict>
	<dict>
		<key>[怄火]</key>
		<string>[怄火]</string>
	</dict>
	<dict>
		<key>[转圈]</key>
		<string>[转圈]</string>
	</dict>
	<dict>
		<key>[磕头]</key>
		<string>[磕头]</string>
	</dict>
	<dict>
		<key>[回头]</key>
		<string>[回头]</string>
	</dict>
	<dict>
		<key>[跳绳]</key>
		<string>[跳绳]</string>
	</dict>
	<dict>
		<key>[投降]</key>
		<string>[投降]</string>
	</dict>
</array>
</plist>